.swiper-scrollbar {
  background: transparent !important;
}

.swiperStyles > .swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 4px;
  padding: 0px;
  margin: -2px;
}

.swiper-scrollbar.swiper-scrollbar-horizontal > div:nth-child(1) {
  display: none;
}

.swiperStyles
  > .swiper-scrollbar.swiper-scrollbar-horizontal
  > .swiper-scrollbar-drag {
  width: 10vw !important;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.159);
}
