@tailwind base;
@tailwind components;
@tailwind utilities;

.form-check-input:checked {
  background-image: url('./assets/svg/checkmark.svg');
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
